body {
    background-color: #EEE;
}
#graph .choice {
    float: right;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: right;
    margin: 10px 10px;
}
#graph .bar {
    width: 0;
    height: 50px;
    background-color: pink;
    margin: 5px;
    float: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
